#user__profile {
  position: relative;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  height: 100vh;
  .user__tab {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2rem;

    transform: translate(-50%,-50%);

    border: 1px solid white;
    border-radius: 10px;
  }
}