.login__container {
  background-image: url('/backgroundLogin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.login__form {
  background: linear-gradient(to right, #3ca55c, #b5ac49);
  font-size: 14px;
  h2 {
    color:white;
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
  }
  label {
    color:white;
  }
  @media screen and (min-width:500px){
    .login__form {
      width: 100vw;
    }
  }
}