html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  box-sizing: border-box;
  font-size: 16px;
}
#admin__pannel {
  .ant-menu,
  .ant-layout-sider-children {
    background: lightblue;
  }
}

.linearColor {
  background: linear-gradient(to right, #3ca55c, #b5ac49);
}

.font__dancing {
  font-family: 'Dancing Script', cursive;
}
thead.ant-table-thead th.ant-table-cell {
  font-weight: 700;
}
ul {
  list-style: none;
}
h1 {
  font-size: 4rem;
  background: linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
